@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background-color: #E1E4E3;
  
}
/* navbar styling */
.navbar{
  z-index:1 ;
  top:0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #E1E4E3;
  width: 100%;
  position: sticky;
  transition: all 0.3s ease-in-out;
  padding: 20px 0;
}
.navbar.sticky{
  padding: 10px 0;
  border-bottom: 1px solid black;
  
}
.logo{
  color:black;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
.nav-links{
  display: flex;
  width:40%;
  justify-content: space-around;
  list-style: none;
}
.nav-links a{
  color:black;
  text-decoration: none;
  letter-spacing: 0.05rem;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width:25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  transition: all 0.5s ease;
}
@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}
@media screen and (max-width:768px){
  html,body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #E1E4E3;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
    
    
  }
  .nav-active li{
    opacity: 0;
  }
  
  .burger{
    display: block;
  }
  .burger div{
    background-color: rgb(173, 167, 168);
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform:translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.container{
  width:100%;
  margin-top:12vh;
  min-height: 80vh;
  overflow: hidden;
  background-image:  url("banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  color: black;
}
.row{
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 0%;
  flex-wrap: wrap;
  flex-direction: row;
}
.col-1{
  position: relative;
  text-align: center; 
  flex-basis: 100%;
  min-width: 400px;  
}
.row h1{
  font-size: 2vmax;
  font-weight:bold; 
  color:black;
  letter-spacing: 0.05rem;
}

/* .col-2{
  flex-basis: 30%;
  position: relative;
  text-align: center;
  min-width: 400px;
}
.col-2 span{
  
  color: rgb(173, 167, 168);
  font-weight: bold;
} */
