@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  
}
/* navbar styling */
nav{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #E1E4E3;
  width: 100%;
}
.logo{
  color:black;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
}
.nav-links{
  display: flex;
  width:40%;
  justify-content: space-around;
  list-style: none;
}
.nav-links a{
  color:black;
  text-decoration: none;
  letter-spacing: 0.05rem;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width:25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  transition: all 0.5s ease;
}
@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #E1E4E3;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-active li{
    opacity: 0;
  }
  
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform:translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
.home{
  display: flex;
  background: url("banner.png") no-repeat center;
  height: 92vh;
  color: black;
  min-height: 500px;
  
  
}
.max-width{
  margin: 10% auto auto auto;
  background: blue;
  width: 80%;
}
.text-1{
  font-size: 2rem;
  

}
.text-2{
  font-size: 4rem;
  font-weight: 600;
  margin-left: -3px;
}
.text-3{
  font-size: 2rem;
  margin: 5px 0;
}
.container{
  width:100%;
  min-height: 92vh;
  overflow: hidden;
  background: url("banner.png") no-repeat center;
  height: 92vh;
  color: black;
  
}
.row{
  /* background-color:brown; */
  height: 92vh;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  align-items: flex-start;
  margin-left:5%;
  
  

}
.col-1{
  flex-basis: 38%;
  position: relative;
  text-align: center; 
  
}
.row h1{
  font-size: 2rem;
  font-weight:lighter; 
  color:black;
  /* background: -webkit-linear-gradient(rgb(3, 0, 1), rgb(240, 237, 237));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  letter-spacing: 0.05rem;
  
}
.col-2{
  flex-basis: 41%;
  position: relative;
  text-align: center;
 
  
  
}